<div>
    <div>
      <span><a routerLink="/">Home</a></span><br>
    </div>
    <h2>
        Peaks:
    </h2>
  <button (click)="getPeaks()">Get Peaks</button>
  <input type="text" name="search" [(ngModel)]="peakRank">
  <button (click)="getPeakByRank()">Get Peak</button>
  <br><br>
  <label for="users">Choose a user:</label>
  <select [(ngModel)]="selectedUser">
    <option default>Choose a User</option>
    <option *ngFor="let user of users" [ngValue]="user">{{user.firstName}} {{user.lastName}}</option>
  </select>
  <button (click)="updateUser()">Save Completed Peaks</button>
  <br>
  <table>
    <thead>
      <tr>
        <th>
          Rank
        </th>
        <th>
          Name
        </th>
        <th *ngIf="selectedUser">
          Completed?
        </th>
        <th>
          Range
        </th>
        <th>
          Elevation
        </th>
        <th>
          Latitude
        </th>
        <th>
          Longitude
        </th>
        <th>
          Standard Route
        </th>
        <th>
          Distance
        </th>
        <th>
          Gain
        </th>
        <th>
          Difficulty
        </th>
        <th>
          Photo
        </th>
      </tr>
    </thead>  
    <tbody>
      <tr *ngFor="let peak of peaks">
        <td>
          {{peak.rank}}
        </td>  
        <td>
          {{peak.name}}
        </td>  
        <td *ngIf="selectedUser">
          <input type="checkbox" [checked]="userCheckbox(peak.rank)" (change)="updatePeakArray(peak.rank)">
        </td>  
        <td>
          {{peak.range}}
        </td>  
        <td>
          {{peak.elevation}}
        </td>  
        <td>
          {{peak.latitude}}
        </td>  
        <td>
          {{peak.longitude}}
        </td>  
        <td>
          {{peak.standard_route}}
        </td>  
        <td>
          {{peak.distance}}
        </td>  
        <td>
          {{peak.gain}}
        </td>  
        <td>
          {{peak.difficulty}}
        </td>  
        <td>
          {{peak.photo}}
        </td>  
      </tr>
    </tbody>
  </table>  

</div>