<div>
    <h1>
      Welcome to the MEAN Stack Hello World Homepage
    </h1>
    <h3>
      The purpose of this project is to create a minimalist MEAN stack hello-world:
      <ul>
        <li>A template to be used for future projects</li>
        <li>To learn about configurations that are required to reach a locally hosted full stack hosted website</li>
        <li>A functioning full stack development project with a database, frontend SPA, and backend scripting</li>
      </ul>
      What this project does NOT include (yet):
      <ul>
        <li>Significant error handling on backend or frontend</li>
        <li>The use of modern UI, such as Bootstrap</li>
        <li>Containerization (such as docker)</li>
      </ul>
    </h3>
    <div>
      <span><a routerLink="/peaks">Peaks</a></span><br>
      <span><a routerLink="/users">Users</a></span><br>
      <span><a routerLink="/design">Design</a></span><br>
    </div>
    <br>
    <img src="assets/images/portal.webp" width="200px" title="Image used to show used of assets folder">
  </div>