<div>
    <h1>
      Welcome to the MEAN Stack Hello World Homepage
    </h1>
    <h3>
      The purpose of this project is to create a minimalist MEAN stack hello-world:
      <ul>
        <li>A proof of concept</li>
        <li>A template to be used for future projects</li>
        <li>To learn about configurations that are required to reach a locally hosted full stack hosted website</li>
      </ul>
    </h3>
    <div>
      <span><a routerLink="/contact">Contact</a></span><br>
      <span><a routerLink="/peaks">Peaks</a></span><br>
      <span><a routerLink="/mongo">Mongo</a></span><br>
      <span><a routerLink="/design">Design</a></span><br>
    </div>
    <br>
    <img src="assets/images/portal.webp" width="200px">
  </div>