<app-header></app-header>
<div class="p-5">
  <h1>
    Welcome to the MEAN Stack Hello World Homepage
  </h1>
  <h3>The purpose of this project is to create a minimalist MEAN stack hello-world:</h3>
  <ul>
    <h4>
    <li>A template to be used for future projects</li>
    <li>To learn about configurations that are required to reach a locally hosted full stack hosted website</li>
    <li>A functioning full stack development project with a database, frontend SPA, and backend scripting</li>
    </h4>
  </ul>
  <h3>What this project does NOT include (yet):</h3>
  <ul>
    <h4>
    <li>Significant error handling on backend or frontend</li>
    <li>The use of modern UI (such as Bootstrap)</li>
    <li>Containerization (such as Docker)</li>
    </h4>
  </ul>
  <br>
  <img src="assets/images/longs_peak.jpg" width="1000px" title="Image used to show use of assets folder">
</div>